html {
    box-sizing: border-box;
    font-family: Poppins,sans-serif;
}
    
*, ::before, ::after {
    box-sizing: inherit;
}

/* * {
    border: 2px red solid; 
} */

@font-face {
    font-family: Poppins;
    src: url(./assets/poppins.regular.ttf);
}

img {
    width: 40vw;
    height: 100vh;
}

.valid {
    border: 2px solid green;
}

.invalid {
    border: 2px solid red;
}

#container {
    display: flex;
}

section#right-side {
    /* margin: 30px; */
    width: 60vw;
}

h1 {
    font-size: 3em;
    text-align: center;
    margin-top: 0;
    padding-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

p {
    font-size: 1.3em;
    margin-left: 30px;
    margin-right: 50px;
}

.form-top {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 30px;
    padding: 10px;
    box-shadow: 0 4px 2px -2px gray;
}

label, input {
    font-size: 1.3em;
}

input {
    border-radius: 5%;
    padding: 5px;
}

.inputs-right,
.inputs-left {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

.input-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 13px;
    gap: 3px;
}

.right-side-top,
.form-bottom {
    background-color: rgb(234, 232, 232);
}